.single {
	position: fixed;
	top: 60px;
	width: 100%;
	background: white;
	height: 100%;
	z-index:9;
	overflow: scroll;
}
	.single header {
		/* padding: 15px; */
		font-weight: 600;
		background: none;
		position: relative;
	}
	.single .circle {
		width: 250px;
		height: auto;
		text-align: center;
		border-radius: 100%;
		/*background: #383738;*/
		color: #383738;
		margin: 30px auto;
		padding-top: 0px;
		box-sizing: border-box;
	}
		.single .circle h1 {
			font-size: 42px;
			letter-spacing: 1px;
			line-height: 1;
			margin-bottom: 5px;
			margin-top: 40px;
		}
		.single .circle h3 {
			font-size: 18px;
			padding: 0px 20px;
		}
			
	.single .data { 
		width: 60%; 
		margin: 0 auto;
	}
		.single .data div { 
			width: 50%; 
			float: left; 
			font-size: 36px; 
			font-weight: 600;
			margin-bottom: 15px;
		}
			.single .data .ibu { text-align: left; }
			.single .data .abv { text-align: right; }
			.single .data span { 
				font-size: 18px; 
				text-transform: uppercase;
				vertical-align: middle;
			}
			
	.single .long-desc {
		width: 60%;
		margin: 0 auto;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.4;
		padding-bottom: 60px;
		margin-bottom: 100px;
	}
	
	
@media (max-width: 480px) {
	.single .data, .single .long-desc { width: 80%; }
}