<pos-json
	url="sampledata.json"
	name="beers"
>
  <pos-list key="beers.beers" name="beer">
  
  	<pos-if true="'$params.name;' == '$beer.name;'">

			<header>
				<div class="back"
				pos-action-1="hideview: single/nu-slide-out-to-right"
				pos-action-2="showview: results">Back</div>
				<div class="fave">fave</div>
			</header>
			
			<div class="circle">
				<h1>$beer.name;</h1>
				<h3>$beer.style;</h3>
			</div>
			
			<div class="data">
				<div class="ibu">$beer.ibu; <span>ibu</span></div>
				<div class="abv">$beer.abv;% <span>abv</span></div>
			</div>
			
			<p class="long-desc">
			$beer.description;
			</p>
		
  	</pos-if>
	
	</pos-list>

</pos-json>