/* Elements */

html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif; 
	font-weight: 300;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	color: #383738;
	background: #fefefe url(img/bg.png) 0 0 repeat-y;
	background-size: 320px auto;
	height: 100%;
	/* -webkit-font-smoothing: antialiased; */
}

h1, h2, h3, h4, h5, h6 { 
	margin: 0; 
	padding: 0;
	font-family: 'Local Headline';
}

a { text-decoration: none; }

ul, li { 
	margin: 0; 
	padding: 0;  
	list-style: none;
}

.noclick {
	pointer-events: none;
}

.red {
	color: #ee3423;
}

section {
	position: absolute;
}

header {
	position: fixed;
	top: 0;
	height: 60px;
	line-height: 60px;
	width: 100%;
	background: #ee3423 url(img/header-bg.png) 0 0 no-repeat;
	background-size: 320px auto;
	z-index: 99999;
	overflow: hidden;
}
	header .btn {
		width: 50px;
		height: 100%;
		top: 0px;
		position: absolute;
		text-align: center;
	}
		header .btn:active:before {
			color: #383838;
		}
		header .btn.icon-dots, 
		header .btn.icon-menu {
			color: #fff;
			font-size: 160%;
		}
		
		header .btn.left {			
			left: 0px;
		}
		header .btn.right {
			right: 0px;
		}
			header .btn.right.share {
				right: 50px;
			}
	header .section-name {
		text-align: center;
		color: white;
		font-family: 'Local Headline';
		text-transform: uppercase;
		font-size: 24px;
		letter-spacing: 1px;
		font-weight: 400;
	}
	
.content {
	position: relative;
	top: 60px;
	width: 100%;
}

.scroller {
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
	transform: translate3d(0, 0, 0);
}

footer {
	position: fixed;
	bottom: 0;
	height: 52px;
	line-height: 52px;
	width: 100%;
	background: #333333;
	z-index: 99999;
}
	footer ul li { 
		width: 50%; 
		float: left; 
		text-align: center;
		color: #fff;
	}
	
	.logo {
		position: fixed;
		bottom: 0;
		left: 50%;
		margin-left: -31px;
		z-index: 999999;
	}
	
	
#home {
	width: 100%;
	height: auto;
	text-align: center;
}
	#home .brew-together {
		margin-top: 60px;
		height: 446px;
		width: 100%;
		
		background-image: url("./img/home-seeds.jpg");
		background-position: center center;
		background-size: cover;
	}	
		#home .brew-together img {
			/* float: left; */
			margin-left: -60px;
			margin-bottom: 35px;
			margin-top: 10px;
		}
		#home .brew-together h1 {
			color: #fff;
			font-size: 38px;
			font-weight: normal;
			text-transform: uppercase;
			margin-top: 30px;
			text-shadow: 1px 2px 0px rgba(199, 60, 47, 1);
			letter-spacing: 0.5px;
			clear: both;
			display: block;
			max-width: 350px;
			margin: 0 auto;
		}
			#home .brew-together h1 span {
				font-size: 61px;
			}
	
	#home .quick-links { 
		/* height: 208px; */
		width: 100%;
		
		background-image: url("./img/home-quick-link-bg.png");
		background-position: bottom right;
		background-size: 67px 152px;
		background-repeat: no-repeat;
		margin-top: -26px;
	}
		#home .quick-links h4 {
			width: 100%;
			height: 26px;
			line-height: 26px;
			font-weight: normal;
			text-transform: uppercase;
			letter-spacing: 1px;
			background: rgba(30, 30, 30, 0.8);
			font-size: 12px;
			color: #D3D3D3;
		}
		#home .quick-links ul li {
			height: 50px;
			line-height: 50px;
			
			font-family: 'Trade Gothic Bold';	
			text-transform: uppercase;
			font-weight: 600;
			font-size: 21px;
		}
			#home .quick-links ul li a {
				color: #373737;
				display: block;
			}
			
			
	#home .contact {
		height: 480px;
		width: 100%;
		
		background-image: url("./img/home-contact-bg.jpg");
		background-position: center center;
		background-size: cover;
		
		font-family: 'Local Headline';
		color: #fff;
	}
		#home .contact .address {
			width: 300px;
			margin: auto;
			padding: 65px 0 53px 0;
			text-transform: uppercase;
		}
			#home .contact .address span:nth-child(1) { 
				font-size: 74px; 
				font-family: 'Trade Gothic Bold';
				display: block;
				float: left;
			}
			#home .contact .address span:nth-child(2) { 
				font-size: 40px; 
				float: left;
				margin: 12px 0 0 10px;
			}
			#home .contact .address span:nth-child(3) { 
				color: #ee3423; 
				font-size: 20px;
				float: left;
				margin: 0 0 0 10px;
			}
		#home .contact .hours {
			background: rgba(0,0,0,0.5);
			height: 272px;
			box-sizing: border-box;
		}
			#home .contact .hours h5 {
				font-family: 'Trade Gothic Bold';
				font-size: 16px;
				letter-spacing: 1px;
				text-transform: uppercase;
				display: inline-block;
				margin: 15px auto;
			}
				#home .contact .hours ul li {
					font-size: 18px;
					letter-spacing: 1px;
					margin-bottom: 5px;
					font-weight: 100;
				}
					#home .contact .hours ul li span {
						text-transform: uppercase;
					}
		#home .contact .phone {
			font-size: 35px;
			margin-top: 15px;
		}
	
	#home .map-area {
		height: 185px;
		width: 100%;
		
		background-image: url("./img/home-map-bg.jpg");
		background-position: center center;
		background-size: cover;
	}
		#home .map-area img {
			width: 69px;
			margin-top: -15px;
		}
			
	#home .selector-snippet {
		height: auto;
		width: 100%;
		
		background: #ee3423;
		color: #fff;
		padding-bottom: 20px;
	}
		#home .selector-snippet h3 {
			font-size: 50px;
			text-transform: uppercase;
			margin: 0px auto 35px auto;
			display: block;
			padding-top: 20px;
		}
			#home .selector-snippet h3 span {
				display: block;
				font-size: 35px;
			}
		#home .selector-snippet .preview {
			width: 50%;
			float: left;
			text-align: right;
			margin-top: -10px;
			margin-bottom: 20px;
			padding: 0px 0px 0px 0px;
			box-sizing: border-box;
		}
			#home .selector-snippet .preview img {
				width: 100%;
				max-width: 160px;
			}
		#home .selector-snippet ul {
			width: 50%;
			text-align: left;
			float: left;
			box-sizing: border-box;
			max-width: 300px;
			padding: 0px 0px 0px 20px;
			box-sizing: border-box;
		}
			#home .selector-snippet ul li {
				list-style: none;
				margin-bottom: 20px;
				padding-right: 20px;
				font-size: 14px;
			}
		#home .selector-snippet .action {
			width: 80%;
			margin: 0 auto;
		}
		#home .selector-snippet .action a {
			color: #fff;
			text-transform: uppercase;
			font-size: 25px;
			font-family: 'Trade Gothic Bold';
			letter-spacing: 1px;
		}
	
	#home .statement {
		height: 169px;
		width: 100%;
	}
		#home .statement div {
			width: 50%;
			float: left;
			color: #ee3423;
			font-size: 17px;
			font-family: 'Trade Gothic Bold';
			text-transform: uppercase;
			text-align: center;
			height: 100%;
			display: table-cell;
			vertical-align: middle;
			box-sizing: border-box;
			padding: 0px 10px;
		}

			#home .statement div img {
				width: 100%;
				max-width: 111px;
				margin-top: 17px;
			}
			#home .statement .handbrewed {
				margin-top: 50px;
				max-width: 160px;
				font-size: 14px;
			}
			#home .statement p span {
				font-size: 26px;
				color: #383738;
				display: block;
			}
		
		
		
		
	
/* icons */

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'local-icon';
}
 
.icon-dots:before { content: '\e800'; } 
.icon-menu:before { content: '\e801'; } 
.icon-share:before { content: '\e802'; } 
.icon-complex:before { content: '\e803'; }
.icon-boozy:before { content: '\e804'; }
.icon-hoppy:before { content: '\e805'; }


/* global */

::-webkit-input-placeholder {
   font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif; 
	 font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif; 
	 font-weight: 300;  
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif; 
	 font-weight: 300;  
}

:-ms-input-placeholder {  
   font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif; 
	 font-weight: 300;  
}

input {
	font-family: 'Trade Gothic Roman', Arial, Helvetica, sans-serif; 
	font-weight: 300;
}
	
	
/* Neutrino global stock animations and transitions */

/* global default transition in */
.nu-transition-visible
{
	animation-name: nu-fade-in;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-fade-in
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
}

/* global default transition out */
.nu-transition-invisible
{
	animation-name: nu-fade-out;
	animation-duration: 200ms;
	animation-timing-function: linear;
}

@keyframes nu-fade-out
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
}

.nu-slide-in
{
	animation-name: nu-slide-in;
	animation-duration: 200ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-in
{
	0%
	{
		transform: translate3d(-100vw, 0, 0);
	}
	
	100%
	{
		transform: translate3d(0, 0, 0);
	}
}

.nu-slide-out
{
	animation-name: nu-slide-out;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-out
{
	0%
	{
		transform: translate3d(0, 0, 0);
	}
	
	100%
	{
		transform: translate3d(-100vw, 0, 0);
	}
}

.nu-slide-out-to-left
{
	animation-name: nu-slide-out-to-left;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-out-to-left {
	0% {
		transform: translate3d(0, 0, 0);
	}
	
	100% {
		transform: translate3d(-100vw, 0, 0);
	}
}

.nu-slide-out-to-right
{
	animation-name: nu-slide-out-to-right;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-out-to-right {
	0% {
		transform: translate3d(0, 0, 0);
	}
	
	100% {
		transform: translate3d(100vw, 0, 0);
	}
}

.nu-slide-out-to-top
{
	animation-name: nu-slide-out-to-top;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-out-to-top {
	0% {
		transform: translate3d(0, 0, 0);
	}
	
	100% {
		transform: translate3d(0, -100vh, 0);
	}
}

.nu-slide-out-to-bottom
{
	animation-name: nu-slide-out-to-bottom;
	animation-duration: 200ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-out-to-bottom {
	0% {
		transform: translate3d(0, 0, 0);
	}
	
	100% {
		transform: translate3d(0, 100vh, 0);
	}
}

.nu-slide-in-from-bottom
{
	animation-name: nu-slide-in-from-bottom;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-in-from-bottom {
	0% {
		transform: translate3d(0, 100vh, 0);
	}
	
	100% {
		transform: translate3d(0, 0, 0);
	}
}

.nu-slide-in-from-top
{
	animation-name: nu-slide-in-from-top;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-in-from-top {
	0% {
		transform: translate3d(0px, -100vh, 0);
	}
	
	100% {
		transform: translate3d(0, 0, 0);
	}
}

.nu-slide-in-from-bottom
{
	animation-name: nu-slide-in-from-bottom;
	animation-duration: 200ms;
	animation-timing-function: linear;
}

.nu-slide-in-from-left
{
	animation-name: nu-slide-in-from-left;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-in-from-left {
	0% {
		transform: translate3d(-100vw, 0, 0);
	}
	
	100% {
		transform: translate3d(0, 0, 0);
	}
}

.nu-slide-in-from-right
{
	animation-name: nu-slide-in-from-right;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-slide-in-from-right {
	0% {
		transform: translate3d(100vw, 0, 0);
	}
	
	100% {
		transform: translate3d(0, 0, 0);
	}
}


.nu-fall-forward
{
	animation-name: nu-fall-forward;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-fall-forward {
	0% {
		transform-origin: left bottom;
		transform: rotateX(0);
	}
	
	100% {
		transform-origin: left bottom;
		transform: translate3d(0, 0, -40px) rotateX(-100deg);
	}
}

.nu-open-to-left
{
	animation-name: nu-open-to-left;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-open-to-left {
	0% {
		transform-origin: left center;
		transform: rotateY(0);
	}
	
	100% {
		transform-origin: left center;
		transform: rotateY(-100deg);
	}
}

.nu-open-to-right
{
	animation-name: nu-open-to-right;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-open-to-right {
	0% {
		transform-origin: right center;
		transform: rotateY(0);
	}
	
	100% {
		transform-origin: right center;
		transform: rotateY(100deg);
	}
}

.nu-close-to-left
{
	animation-name: nu-close-to-left;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-close-to-left {
	0% {
		transform-origin: right center;
		transform: rotateY(100deg);
	}
	
	100% {
		transform-origin: right center;
		transform: rotateY(0deg);
	}
}

.nu-close-to-right
{
	animation-name: nu-close-to-right;
	animation-duration: 400ms;
	animation-timing-function: linear;
}

@keyframes nu-close-to-right {
	0% {
		transform-origin: left center;
		transform: rotateY(-100deg);
	}
	
	100% {
		transform-origin: left center;
		transform: rotateY(0deg);
	}
}

.nu-fade-out
{
	animation-name: nu-fade-out;
	animation-duration: 200ms;
	animation-timing-function: linear;
}

.nu-transition-visible
{
	animation-name: nu-fade-in;
	animation-duration: 0.01ms;
	animation-timing-function: linear;
}

.nu-transition-invisible
{
	animation-name: nu-fade-out;
	animation-duration: 0.01ms;
	animation-timing-function: linear;
	visibility: hidden;
	display:block;
}

/****/

.nu-slide-out-to-left
{
	animation-name: nu-slide-out-to-left;
	animation-duration: 200ms;
	animation-timing-function: ease-out;
}

@keyframes nu-slide-out-to-left {
	0% {
		transform: translateX(0);
	}
	
	100% {
		transform: translateX(-100vw);
	}
}

.nu-slide-out-to-right
{
	animation-name: nu-slide-out-to-right;
	animation-duration: 200ms;
	animation-timing-function: ease-out;
}

@keyframes nu-slide-out-to-right {
	0% {
		transform: translateX(0);
	}
	
	100% {
		transform: translateX(100vw);
	}
}

.nu-slide-in-from-left
{
	animation-name: nu-slide-in-from-left;
	animation-duration: 200ms;
	animation-timing-function: ease-out;
}

@keyframes nu-slide-in-from-left {
	0% {
		transform: translateX(-100vw);
	}
	
	100% {
		transform: translateX(0);
	}
}

.nu-slide-in-from-right
{
	animation-name: nu-slide-in-from-right;
	animation-duration: 200ms;
	animation-timing-function: ease-out;
}

@keyframes nu-slide-in-from-right {
	0% {
		transform: translate3d(100vw, 0, 0);
	}
	
	100% {
		transform: translate3d(0, 0, 0);
	}
}


/* Fonts */

@font-face {
    font-family: 'Local Headline';
    src: url('fonts/localheadline-bold-webfont.eot');
    src: url('fonts/localheadline-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/localheadline-bold-webfont.woff2') format('woff2'),
         url('fonts/localheadline-bold-webfont.woff') format('woff'),
         url('fonts/localheadline-bold-webfont.ttf') format('truetype'),
         url('fonts/localheadline-bold-webfont.svg#local_headlinebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trade Gothic Roman';
    src: url('fonts/tradegothic-webfont.eot');
    src: url('fonts/tradegothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tradegothic-webfont.woff2') format('woff2'),
         url('fonts/tradegothic-webfont.woff') format('woff'),
         url('fonts/tradegothic-webfont.ttf') format('truetype'),
         url('fonts/tradegothic-webfont.svg#tradegothicroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Trade Gothic Bold';
    src: url('fonts/tradegothic-bold-webfont.eot');
    src: url('fonts/tradegothic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tradegothic-bold-webfont.woff2') format('woff2'),
         url('fonts/tradegothic-bold-webfont.woff') format('woff'),
         url('fonts/tradegothic-bold-webfont.ttf') format('truetype'),
         url('fonts/tradegothic-bold-webfont.svg#tradegothicbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'local-icon';
  src: url('fonts/local-icon.eot');
  src: url('fonts/local-icon.eot') format('embedded-opentype'),
       url('fonts/local-icon.woff') format('woff'),
       url('fonts/local-icon.ttf') format('truetype'),
       url('fonts/local-icon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }