body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
}

h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; }

ul, li { 
	margin: 0; 
	padding: 0;  
	list-style: none;
}

section {
	position: absolute;
}

footer {
	position: fixed;
	bottom: 0;
	height: 52px;
	line-height: 52px;
	width: 100%;
	background: #333333;
}
	footer ul li { 
		width: 50%; 
		float: left; 
		text-align: center;
		color: #fff;
	}
	
	.logo {
		position: fixed;
		bottom: 0;
		left: 50%;
		margin-left: -31px;
	}