<header>
	<div class="section-header title"></div>
	<div 
		p-action-1="call: close"
		p-action-2="(click) hideview: onboard"
		p-action-3="(click) setlocalstorage"
		p-action-3-params="lbc_onboard: true;"
		class="close btn right"
	>&times;</div>
</header>

<div id="indicator">
	<div class="active"></div>
	<div></div>
	<div></div>
</div>

<div id="wrapper">	
	<div id="scroller">
		
		<div class="screen screen-1">
			<div class="content">
				<div class="image">
					<img src="img/guide-1.png">
				</div>
				<h2>Select a Category</h2>
				<p>Start creating your flavor profile by choosing a category to rate.</p>
			</div>
		</div>
		<div class="screen screen-2">
			<div class="content">
				<div class="image">
					<img src="img/guide-2.png">
				</div>
				<h2>Set Preference</h2>
				<p>Use the slider to set your preference for the 3 flavor parameters.</p>
			</div>
		</div>
		<div class="screen screen-3">
			<div class="content">
				<div class="image">
					<img src="img/guide-3.png">
				</div>
				<h2>Compare Results</h2>
				<p>The beer list filters down based on your input. Compare your taste to a beer's profile. Save your profiles and favorite beers.</p>
			</div>
		</div>
		
	</div>
</div>