.results {
	position: relative;
	top: 60px;
	width: 100%;
	margin-bottom: 100px;
}
	.results ul {
		height: 62px;
		width: 100%;
		border-bottom: 1px solid #d7d7d7;
	}
		.results ul li {
			display: block;
			float: left;
			width: 33%;
			height: 100%;
			text-align: center;
			border-right: 1px solid darkgray;
			background: url(./img/filter-bg.png);
			text-transform: uppercase;
			position: relative;
			font-size: 14px;
			font-weight: 600;
			letter-spacing: -0.5px;
			font-family: 'Trade Gothic Bold';
		}
			.results ul li:last-child { border-right: none; }
			.results ul li.active {
				background: url(./img/filter-bg-active.png);
				border-bottom: 1px solid #606060;
				text-shadow: 0px 1px 1px rgba(5, 5, 5, 1);
			}
			
			.results ul li [class^="icon-"]:before, 
			.results ul li [class*=" icon-"]:before {
				position: absolute;
				left: 0px;
				width: 100%;
				font-size: 30px;
				text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
			}
				.results ul li.active [class^="icon-"]:before, 
				.results ul li.active [class*=" icon-"]:before {
					-webkit-text-stroke: 0.1px #fff;
				}
				
					
			
			.results ul li .filter-value {
				margin-top: 5px;
				line-height: 35px;
				z-index: 1;
				color: #fff;
				position: relative;
			}
			
			.results ul li .filter-name { 
				margin-top: 0px; 
				text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
			}
				.results ul li.active .filter-name { 
					color: #fff; 
					text-shadow: 0px 1px 1px rgba(5, 5, 5, 1);
				}
	
	.results .shelf {
		background: #383838;
		width: 100%;
		height: auto;
		padding: 6px 0px;
		min-height: 34px;
		color: white;
	}
	
	.results .slider {
		background: #383738;
		width: 100%;
		height: auto;
		display: -webkit-flex;
		-webkit-box-align: center;
		-webkit-box-pack: center;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 0px;
		z-index: 2;
	}	
	
		.results .slider .range-end {
			color: #fff;
			width: 10%;
			text-align: center;
			font-size: 12px;
			margin:0px 5px;
		}
	
		.results .slider .selector {
			width: 80%;
			overflow: visible;
			margin-top:0px;
		}
		.results .slider output {
		  position: absolute;	 
		  width: 40px; 
		  height: 34px; 
		  text-align: center;
		  font-family: 'Trade Gothic Bold';
		  font-weight: 600; 
		  color: black; 
		  display: inline-block; 
		  font-size: 15px;
		  font-weight: 600;
		  bottom: -12px;
		  left: 0;
		  margin-left: -1%;
		  outline:0;
			border:0;
			top:-2px;
			line-height: 38px;
			z-index: 3;
			pointer-events: none;
		}
			form { 
				position: relative; 
				margin: 0px;
			}
		
		.results .slider .progress-bar {
			position: absolute;
			border-radius: 5px;
			background-color: #ee3423;
			height: 30px;
			width: 0%;
			vertical-align: middle;
			outline:0;
			border:0;
			top: 2px;
			margin-left: 2px;
			z-index: 1;
			pointer-events: none;
		}
		
		.results .slider input[type='range'] {
			-webkit-appearance: none;
			border-radius: 5px;
			background-color: #606060;
			height: 30px;
			width: 100%;
			vertical-align: middle;
			outline:0;
			border:0;
		}
		
		.results .slider input[type='range']::-webkit-slider-thumb {
			-webkit-appearance: none !important;
			background-color: #e6e6e6;
			height: 34px;
			width: 40px;
			border-radius: 6px;
			z-index:2;
			position: relative;
			border: 2px solid #383838;
			position: relative;
			left: 0px;
		}
	
	.results .list {}
		.results .list .beer-sum { 
			clear: left;
			border-bottom: 1px solid #d7d7d7;
			padding: 12px 15px;
			font-family: 'Trade Gothic Bold';
			text-transform: capitalize;
			font-weight: 400;
			letter-spacing: -0.5px;
			-webkit-font-smoothing: antialiased;
			box-sizing: border-box;
			display: -webkit-flex;
			align-items: center;
			justify-content: space-between;
		}
		.results .list .beer-sum.noclick {
			pointer-events: none;
		}
			.results .list .beer-sum .info { width: 70%; }
			.results .list .beer-sum h2 {
				font-family: inherit;
				font-weight: 400;
			}
			.results .list .beer-sum .description {
				font-family: 'Trade Gothic Roman';
				font-size: 13px;
				text-transform: none;
				letter-spacing: -0.25px;
			}
			.results .list .beer-sum .levels {
		
			} 
				.results .list .beer-sum .levels .level {
					width: 25px;
					height: 34px;
					line-height: 34px;
					font-size: 12px;
					text-align: center;
					border-radius: 100%;
					color: #fff;
					font-weight: normal;
					display: block;
					float: left;
					position: relative;
					z-index: 1;
				}
				
				.results .list .beer-sum .levels [class^="icon-"], 
				.results .list .beer-sum .levels [class*=" icon-"] {			
					width: 25px;
					float: left;
					text-align: center;
					position: relative;
				}
					.results .list .beer-sum .levels [class^="icon-"]:before, 
					.results .list .beer-sum .levels [class*=" icon-"]:before {
						position: absolute;
						left: 0px;
						width: 100%;
						font-size: 30px;
					}
				
					.results .list .beer-sum .levels.ipa { color: #42c777; }
					.results .list .beer-sum .levels.pale-ale { color: #199999; }
					.results .list .beer-sum .levels.stout { color: #482d19; } 
					.results .list .beer-sum .levels.red-ale { color: #ee3423; } 	
		
		.num-results {
			position: absolute;
			left: 15px;
			margin-top: 9px;
			font-size: 13px;
			z-index: 0;
		}
		
		.profile {
			position: absolute;
			right: 15px;
			margin-top: 9px;
			font-size: 12px;
			z-index: 0;
			color: #ee3423;
			text-transform: uppercase;
		}
				
				
				
				