<header>
	<div class="section-header title"></div>
	<div 
		p-action-1="call: close"
		p-action-2="(click) hideview: menu"
		class="close btn right"
	>&times;</div>
</header>

<div class="scroller">

	<p-if true="'$params.section;' == 'save-profile'">
	
		<!-- Save Profile -->
	
		<div p-view="saveprofile:" class="save-profile content">
				
			<ul class="icons">
				<li 
					class="hoppyness tab"
				>
					<div class="icon-hoppy">
						<div class="filter-value"></div>
					</div>
					<div class="filter-name">Bitterness</div>
				</li>
				<li
					class="alcohol tab"
				>
					<div class="icon-boozy">
						<div class="filter-value"></div>
					</div>
					<div class="filter-name">Alcohol</div>
				</li>
				<li
					class="complexity tab"
				>
					<div class="icon-complex">
						<div class="filter-value"></div>
					</div>
					<div class="filter-name">Complexity</div>
				</li>
			</ul>
			
			<h1>Give this flavor profile a name:</h1>
			<form
				p-action-1="(submit) call: addProfile"
			>
				<input type="text" id="profile_name" name="profile_name" placeholder="Name">
				<button type="submit">Save</button>
			</form>
		</div>
		
	</p-if>
	
	<p-if true="'$params.section;' == 'navigation'">
	
		<!-- Navigation -->
		
		<div p-view="navigation:" class="navigation content">
			
			<h1><a href="./">HOME</a></h1>
			<ul class="block">
				<svg width="100%" height="10px" style="margin-top: 10px; width: 100%;">
					<line x1="7" x2="100%" y1="4" y2="4" stroke="#5184AF" stroke-width="4" stroke-linecap="round" stroke-dasharray="1, 10" style="stroke: white;"></line>
				</svg>
			</ul>
			
			<h1>OUR BREWS</h1>
			<ul class="block">
				<li><a href="./curator.php">Beer Curator</a></li>
				<li><a href="./taplist.php">On Tap</a></li>
				<li><a href="./map.php">Beer Map</a></li>
			</ul>
		
		</div>
	
	</p-if>
	
	<p-if true="'$params.section;' == 'account'">
	
		<!-- Account -->
		
		<div p-view="account:" class="account content">
		
			<div class="user-data">
				
				<p-localstorage key="lbc_user">
					<p-if notempty="$localstorage.lbc_user;">
				
						<p-json
							url="http://localbrewingco.com/cms/user/?userid=$localstorage.lbc_user;"
							name="user"
							cachekey="userdata"
						>
						
							<div class="avatar">
								<p-img src="$user.avatar;"></p-img>
							</div>
							
							<div class="username">$user.username;</div>
		
						</p-json>
						
					</p-if>
				</p-localstorage>
	
				<svg width="100%" height="10px" style="margin-top: 30px; width: 100%;">
					<line x1="7" x2="100%" y1="4" y2="4" stroke="#5184AF" stroke-width="4" stroke-linecap="round" stroke-dasharray="1, 10" style="stroke: white;"></line>
				</svg>
			</div>
			
			
			<h1>Your Beer Profiles</h1>
			<div p-view="profiles:" class="">
				<ul class="block beer-profiles">
					
					<p-localstorage key="lbc_user">
						<p-if notempty="$localstorage.lbc_user;">
						
							<p-json
								url="http://localbrewingco.com/cms/user/?userid=$localstorage.lbc_user;"
								name="user"
								cachekey="userdata"
							>
							  <p-list key="user.profiles" name="profile">
						
									<li data-id="$profile.id;">
										<span 
											class="item"
											p-action-1="(click) call: loadProfile"
											p-action-1-params="id: $profile.id;;"
											p-action-2="(click) hideview: menu"
											p-action-3="(click) hideview: slider/p-transition-visible-quick"
											p-action-4="(click) removeclass: active/.question-tabs li"
										>$profile.name;</span> 
										<span 
											class="remove-item p-invisible" 
											p-action-1="(click) call: removeProfile" 
											p-action-1-params="id: $profile.id;; name: $profile.name;;"
										>REMOVE</span>
									</li>
								
								</p-list>			
							</p-json>
							
							<div 
								class="manage"
								p-action-1="(click) toggleclass: p-invisible/.beer-profiles .remove-item"
								p-action-2="(click) toggleclass: nu-slide-in-from-right/.beer-profiles .remove-item"
								p-action-3="(click) toggleclass: p-invisible/.beer-profiles .manage span"
							>
								<span>Manage your profiles</span>
								<span class="p-invisible">Done</span>
							</div>
							
						</p-if>
					</p-localstorage>
		
				</ul>		
			</div>
			
			<h1>Your Favorite Beers</h1>
			<div p-view="favorites:" class="">
				<ul class="block favorite-beers list">
				
					<p-localstorage key="lbc_user">
						<p-if notempty="$localstorage.lbc_user;">
						
							<p-json
								url="http://localbrewingco.com/cms/user/?userid=$localstorage.lbc_user;"
								name="user"
								cachekey="userdata"
							>
							  <p-list key="user.favorites" name="favorite">
				
									<li data-id="$favorite.id;">
										<div 
											class="beer-sum"
											p-action-1="(click) hideview: menu"
											p-action-2="(click) refreshview: single/nu-slide-in-from-right"
											p-action-2-params="name: $favorite.name;; hoppyness: $favorite.bitterness;; alcohol: $favorite.alcohol;; complexity: $favorite.complexity;;"
										> 
											<div class="info">
												<h2 class="name">$favorite.name;</h2>
											</div>
											<div class="levels">
												<div class="icon-hoppy"><div class="hoppy-level level">$favorite.bitterness;</div></div>
												<div class="icon-boozy"><div class="boozy-level level">$favorite.alcohol;</div></div>
												<div class="icon-complex"><div class="complex-level level">$favorite.complexity;</div></div>
											</div>
										</div>
										
										<span 
											class="remove-item p-invisible"
											p-action-1="(click) call: removeFavorite" 
											p-action-1-params="id: $favorite.id;; name: $favorite.name;;"
										>REMOVE</span>
									</li>
						
								</p-list>			
							</p-json>
					
						</p-if>
					</p-localstorage>
					
					<div 
						class="manage"
						p-action-1="(click) toggleclass: p-invisible/.favorite-beers .remove-item"
						p-action-2="(click) toggleclass: nu-slide-in-from-right/.favorite-beers .remove-item"
						p-action-3="(click) toggleclass: p-invisible/.favorite-beers .levels"
						p-action-4="(click) toggleclass: p-invisible/.favorite-beers .manage span"
					>
						<span>Manage your favorites</span>
						<span class="p-invisible">Done</span>
					</div>
				
				</ul>
			</div>		
			
			<div 
				class="log-out"
				p-action-1="call: logout"
			>Log Out</div>
		
		</div>
	
	</p-if>

</div>