<header>
	<div class="section-header title"></div>
	<div 
		pos-action-1="call: close"
		pos-action-2="(click) hideview: overlay"
		class="close btn right"
	>&times;</div>
</header>

<div class="scroller">

	<pos-if true="'$params.section;' == 'save-profile'">
	
		<!-- Save Profile -->
	
		<div pos-view="saveprofile:" class="save-profile content">
				
			<ul class="icons">
				<li 
					class="hoppyness tab"
				>
					<div class="icon-hoppy">
						<div class="filter-value"></div>
					</div>
					<div class="filter-name">Hoppyness</div>
				</li>
				<li
					class="alcohol tab"
				>
					<div class="icon-boozy">
						<div class="filter-value"></div>
					</div>
					<div class="filter-name">Alcohol</div>
				</li>
				<li
					class="complexity tab"
				>
					<div class="icon-complex">
						<div class="filter-value"></div>
					</div>
					<div class="filter-name">Complexity</div>
				</li>
			</ul>
			
			<h1>Give this flavor profile a name:</h1>
			<form>
				<input type="text" placeholder="Name">
				<button>Save</button>
			</form>
		</div>
		
	</pos-if>
	
	<pos-if true="'$params.section;' == 'navigation'">
	
		<!-- Navigation -->
		
		<div pos-view="navigation:" class="navigation content">
			
			<h1>HOME</h1>
			<ul class="block">
				<li>Location Info</li>
				<svg width="100%" height="10px" style="margin-top: 10px; width: 100%;">
					<line x1="7" x2="100%" y1="4" y2="4" stroke="#5184AF" stroke-width="4" stroke-linecap="round" stroke-dasharray="1, 10" style="stroke: white;"></line>
				</svg>
			</ul>
			
			<h1>OUR BREWS</h1>
			<ul class="block">
				<li>Beer Selector</li>
				<li>On Tap</li>
				<li>Beer Map</li>
				<svg width="100%" height="10px" style="margin-top: 10px; width: 100%;">
					<line x1="7" x2="100%" y1="4" y2="4" stroke="#5184AF" stroke-width="4" stroke-linecap="round" stroke-dasharray="1, 10" style="stroke: white;"></line>
				</svg>
			</ul>
			
			<ul class="block">
				<li
					pos-action-1="(click) refreshview: forms/nu-slide-in-from-right"
					pos-action-1-params="action: login"
					pos-action-2="(click) hideview: overlay"
				>Sign In</li>
				<li
					pos-action-1="(click) refreshview: forms/nu-slide-in-from-right"
					pos-action-1-params="action: register"
					pos-action-2="(click) hideview: overlay"
				>Create an account</li>
			</ul>
		
		</div>
	
	</pos-if>
	
	<pos-if true="'$params.section;' == 'account'">
	
		<!-- Account -->
		
		<div pos-view="account:" class="account content">
		
			<div class="user-data">
				<div class="avatar"></div>
				<div class="username">Shawn Scott</div>
				<svg width="100%" height="10px" style="margin-top: 30px; width: 100%;">
					<line x1="7" x2="100%" y1="4" y2="4" stroke="#5184AF" stroke-width="4" stroke-linecap="round" stroke-dasharray="1, 10" style="stroke: white;"></line>
				</svg>
			</div>
			
			<h1>Your Beer Profiles</h1>
			<ul class="block beer-profiles">
			
				<pos-json
					url="profiles.json"
					name="profiles"
					cachekey="userprofiles"
				>
				  <pos-list key="profiles" name="profile">
			
						<li data-id="$profile.id;">
							<span 
								class="item"
								pos-action-1="(click) call: loadProfile"
								pos-action-1-params="id: $profile.id;;"
								pos-action-2="(click) hideview: overlay"
								pos-action-3="(click) hideview: slider/pos-transition-visible-quick"
								pos-action-4="(click) removeclass: active/.question-tabs li"
							>$profile.name;</span> 
							<span 
								class="remove-item pos-invisible" 
								pos-action-1="(click) call: removeProfile" 
								pos-action-1-params="id: $profile.id;; name: $profile.name;;"
							>REMOVE</span>
						</li>
					
					</pos-list>			
				</pos-json>
				
				<div 
					class="manage"
					pos-action-1="(click) toggleclass: pos-invisible/.beer-profiles .remove-item"
					pos-action-2="(click) toggleclass: nu-slide-in-from-right/.beer-profiles .remove-item"
					pos-action-3="(click) toggleclass: pos-invisible/.beer-profiles .manage span"
				>
					<span>Manage your profiles</span>
					<span class="pos-invisible">Done</span>
				</div>
	
			</ul>		
			
			
			<h1>Your Favorite Beers</h1>
			<ul class="block favorite-beers list">
			
				<pos-json
					url="favorites.json"
					name="favorites"
					cachekey="userfaves"
				>
				  <pos-list key="favorites" name="favorite">
			
						<li data-id="$favorite.id;">
							<div 
								class="beer-sum"
								pos-action-1="(click) hideview: overlay"
								pos-action-2="(click) refreshview: single/nu-slide-in-from-right"
								pos-action-2-params="name: $favorite.name;; hoppyness: $favorite.hoppyness;; alcohol: $favorite.alcohol;; complexity: $favorite.complexity;;"
							> 
								<div class="info">
									<h2 class="name">$favorite.name;</h2>
								</div>
								<div class="levels">
									<div class="icon-hoppy"><div class="hoppy-level level">$favorite.hoppyness;</div></div>
									<div class="icon-boozy"><div class="boozy-level level">$favorite.alcohol;</div></div>
									<div class="icon-complex"><div class="complex-level level">$favorite.complexity;</div></div>
								</div>
							</div>
							
							<span 
								class="remove-item pos-invisible"
								pos-action-1="(click) call: removeFavorite" 
								pos-action-1-params="id: $favorite.id;; name: $favorite.name;;"
							>REMOVE</span>
						</li>
					
					</pos-list>			
				</pos-json>
				
				<div 
					class="manage"
					pos-action-1="(click) toggleclass: pos-invisible/.favorite-beers .remove-item"
					pos-action-2="(click) toggleclass: nu-slide-in-from-right/.favorite-beers .remove-item"
					pos-action-3="(click) toggleclass: pos-invisible/.favorite-beers .levels"
					pos-action-4="(click) toggleclass: pos-invisible/.favorite-beers .manage span"
				>
					<span>Manage your profiles</span>
					<span class="pos-invisible">Done</span>
				</div>
			
			</ul>		
			
			<div class="log-out">Log Out</div>
		
		</div>
	
	</pos-if>

</div>